.goBack {
    font-family: 'Monserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #00509d;
    background-color: #ffd500;
    border: 2px solid #00509d;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.title {
    font-family: 'Monserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #00509d;
}

.text {
    font-family: 'Monserrat', sans-serif;
    font-size: 1rem;
    text-align: center;
}

